.breadcrumb-nav {
    display: none;
}

#block-region-side-pre {
    display: none;
}

.box.feedback_anonymousinfo{
    display: none;
}

.changesurvey {
    margin-top: -10px;
    margin-bottom: 10px;
}